table {
	width : 90%;
	margin: 0 auto;
	font-size:10pt;
	border : 1px solid black;
	border-collapse: collapse;
}

th{
	text-align:left;
}

.table_name{
	background-color:#000000;
	color : white;
}

.red{
	color:red;
}